rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    function role() {
      return get(/databases/$(db)/documents/users/$(request.auth.uid)).data.role;
    }

    match /users/{uid} {
      allow read: if request.auth != null && (uid == request.auth.uid || role() == 'admin');
      allow write: if request.auth != null && (uid == request.auth.uid || role() == 'admin');
    }

    match /classes/{id} {
      allow read: if true; // allow kiosk to read
      allow write: if request.auth != null && role() == 'admin';
    }

    match /subjects/{id} {
      allow read: if true;
      allow write: if request.auth != null && role() == 'admin';
    }

    match /lessons/{id} {
      allow read: if true;
      allow write: if request.auth != null && (
        role() == 'admin' || (role() == 'teacher' && request.resource.data.teacherId == request.auth.uid)
      );
    }

    match /announcements/{id} {
      allow read: if true;
      allow write: if request.auth != null && role() in ['admin','teacher'];
    }

    match /display_config/{doc} {
      allow read: if true;
      allow write: if request.auth != null && role() == 'admin';
    }
  }
}